<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AODL" version="1.2.0.1" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="74.0.0" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.24.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
</packages>